.albumListContainer{
    background-color: lightseagreen;
    padding: 5px 5px;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.albumListContainer h2{
    text-align: center;
}
.albumListContainer ul{
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: 100%;
}